<table class="table table-borderless">
  <tbody>
    <% shop_items.in_groups_of(4) do |row| %>
      <tr>
        <% row.each do |shop_item| %>
        <td>
          <% if shop_item %>
            <%= link_to (attachment_image_tag shop_item, :image, :fill, 100, 100,　format: 'jpeg', fallback: "no_image.jpg", size: 100, class: "mb-1"), members_shop_item_path(shop_item.id) %>
            <p><%= shop_item.name %></p>
            <p><%= (shop_item.price*1.1).floor %>円</p>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>