<div class="container">
  <div class="row justify-content-start shop">
    <h2 class="shop-title">長野 CAKE</h2><br>
    <span class="shop-subtitle">is the best cake shop in Nagano...</span>
  </div>

  <%= image_tag "about1.jpg", class: "img-fluid" %>
</div>