

<h4 style="text-align:center;">本当に退会しますか？</h4><br>

<p style="text-align: center;">退会すると、会員登録情報や<br>
これまでの購入履歴が閲覧できなくなります。<br>
退会する場合は『退会する』をクリックしてください。</p>

<div class="form-body">
    <%= form_for(@member, url: members_member_path) do |f| %>

        <div class="actions" style="text-align:center;">

            <%= f.hidden_field :member_status, :value => 1 %>
            <%= f.submit "退会する",class: "btn btn-danger" %> 
            <%= link_to "退会しない",members_top_path, class: "btn btn-primary" %>
            <% end %>
        </div>
</div>