<div class="container">
  <div class="row">
  	<div class="col-12">
      <h2 class="mt-3 fas fa-unlock-alt"> 管理者画面</h2>
      <h4 class="mt-5">
      	・本日の注文件数<%= link_to "#{@today_orders_num}", controller: "admins/orders", action: "index", mark: Date.today  %>件
      </h4>
    </div>
  </div>
</div>