<div class="container">

  <div class="row justify-content-start mt-3 mb-5">
    <h2 class="fas fa-store"> 商品 編集画面</h2>
  </div>

  <%= render partial: "/layouts/error_messages", locals: { model: @shop_item } %>
  <%= render partial: 'form', locals: { shop_item: @shop_item, edit_flag: true } %>

</div>